<html>
<head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div style="text-align: center;">
        <h1>IoT Sensors Data - Vibration charts</h1>
        <table align=center>
            <tbody>
                <tr>
                    <td>
                        Version:
                    </td>
                    <td>
                        <%= version %>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</body>
</html>
